@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public bool Enabled { get; set; }
    [Parameter] public Action Action { get; set; }
    [Parameter] public Cards.CardModel Model { get; set; }
    [Parameter] public bool Half { get; set; }
    [Parameter] public bool Large { get; set; }
    [Parameter] public int Stack { get; set; }
    [Parameter] public string Color { get; set; }
    private string subType;

    protected override void OnParametersSet()
    {
        if (Model == null)
        {
            if (Cards.All.ByName.ContainsKey(Id))
            {
                Model = Cards.All.ByName[Id];
            }
            else
            {
                Model = new Cards.DummyCard(Id);
            }
        }
        else 
        {
            Id = Model.GetType().Name;
        }

        if (Model is Cards.ActionCardModel kingdomCard)
        {
            subType = kingdomCard.SubType;
        }
    }

    private void OnClick()
    {
        if (Enabled)
        {
            Action();
        }
    }
}

@if (Large)
{
    <div class="active-card__large-wrapper">
        <Magnify>
            <div class="active-card @(Enabled ? "active-card--enabled" : "")" @onclick="@OnClick">
                <CardView Name="@Id" Type="@Model.Type" SubType="@subType" Color="@Color" Art="@Model.Art" Cost="@Model.Cost" Text="@Model.Text" Half="@Half" Stack="@Stack" />
            </div>
        </Magnify>
    </div>
}
else
{
    <WithTooltip>
        <Content>
            <div class="active-card @(Enabled ? "active-card--enabled" : "")" @onclick="@OnClick">
                <CardView Name="@Id" Type="@Model.Type" SubType="@subType" Color="@Color" Art="@Model.Art" Cost="@Model.Cost" Text="@Model.Text" Half="@Half" Stack="@Stack" />
            </div>
        </Content>
        <Tooltip>
            <Magnify>
                <CardView Name="@Id" Type="@Model.Type" SubType="@subType" Color="@Color" Art="@Model.Art" Cost="@Model.Cost" Text="@Model.Text" Half="false" />
            </Magnify>
        </Tooltip>
    </WithTooltip>    
}