@code {
    [Parameter] public bool Enabled { get; set; }
    [Parameter] public Action<string> Action { get; set; }
    [Parameter] public ChoiceType Type { get; set; }
    [Parameter] public string Prompt { get; set; }
    [Parameter] public string Input { get; set; }
}

<span @key="Prompt.GetHashCode()" class="active-choice__prompt">@Prompt</span>

@switch (Type)
{
    case ChoiceType.YesNo:
        <YesNo Enabled="@Enabled" Input="@Input" Output="@Action" />
        break;

    case ChoiceType.ChooseOne:
        <ChooseOne Enabled="@Enabled" Input="@Input" Output="@Action" />
        break;

    case ChoiceType.ChooseMultiple:
        <ChooseMultiple Enabled="@Enabled" Input="@Input" Output="@Action" />
        break;

    case ChoiceType.SelectCards:
        <SelectCards Enabled="@Enabled" Input="@Input" Output="@Action" />
        break;

    case ChoiceType.OrderCards:
        <OrderCards Enabled="@Enabled" Input="@Input" Output="@Action" />
        break;

    default:
        <p>Unknown choice type @Type</p>
        break;
}