@inject IUserSession Session
@code {
    [CascadingParameter] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
    bool IsActivePlayer => Session.Username.Equals(Model.ActivePlayer);
    string PlayerOrSpectatee => Model.Players.Contains(Session.Username) ? Session.Username : Model.ActivePlayer;
}

<div class="game-view">
    <div style="grid-area: nav">
        <a href="/">&lt; games</a> 
        @if (Model.Players.Contains(Session.Username))
        {
            <text>Playing as <PlayerLink Name="@Session.Username" Suffix="." /></text>
        }
        else
        {
            <text>Spectating as <PlayerLink Name="@Session.Username" Suffix="." /></text>
        }
    </div>

    <div style="grid-area: event-log">
        <VerticalLog>
            @foreach (var e in Model.EventLog)
            {
                <p>
                    <RichText @key="e.GetHashCode()" Model="@e"/>
                </p>
            }
        </VerticalLog>
    </div>

    <GridSeparator Area="left-bar"/>

    <div style="grid-area: board" class="game-view__board">
        <div style="grid-area: kingdom" class="game-view__kingdom">
            <div class="game-view__trash">
                <SpecialCard Name="trash" Stack="@(!Model.IsStarted ? 1 : Model.Trash.Count + 1)" />
            </div>

            @if (Model.IsStarted)
            {
                <SupplyView Id="Estate" />
                <SupplyView Id="Duchy" />
                <SupplyView Id="Province" />

                <SupplyView Id="@Model.KingdomCards[0]" />
                <SupplyView Id="@Model.KingdomCards[1]" />
                <SupplyView Id="@Model.KingdomCards[2]" />
                <SupplyView Id="@Model.KingdomCards[3]" />
                <SupplyView Id="@Model.KingdomCards[4]" />

                <SupplyView Id="Copper" />
                <SupplyView Id="Silver" />
                <SupplyView Id="Gold" />

                <SupplyView Id="@Model.KingdomCards[5]" />  
                <SupplyView Id="@Model.KingdomCards[6]" />
                <SupplyView Id="@Model.KingdomCards[7]" />
                <SupplyView Id="@Model.KingdomCards[8]" />
                <SupplyView Id="@Model.KingdomCards[9]" />            
            }
            else
            {
                <ActiveCard Enabled="false" Half="true" Stack="8" Id="Estate" />
                <ActiveCard Enabled="false" Half="true" Stack="8" Id="Duchy" />
                <ActiveCard Enabled="false" Half="true" Stack="8" Id="Province" />

                @if (Model.KingdomPreset == null)
                {
                    <SpecialCard Name="card-back" Half="true" Stack="10" />
                    <SpecialCard Name="card-back" Half="true" Stack="10" />
                    <SpecialCard Name="card-back" Half="true" Stack="10" />
                    <SpecialCard Name="card-back" Half="true" Stack="10" />
                    <SpecialCard Name="card-back" Half="true" Stack="10" />
                }
                else
                {
                    var preset = All.Presets.BySet[Model.KingdomSet][Model.KingdomPreset];
                    <ActiveCard @key="preset[0]" Enabled="false" Half="true" Stack="10" Id="@preset[0]" />
                    <ActiveCard @key="preset[1]" Enabled="false" Half="true" Stack="10" Id="@preset[1]" />
                    <ActiveCard @key="preset[2]" Enabled="false" Half="true" Stack="10" Id="@preset[2]" />
                    <ActiveCard @key="preset[3]" Enabled="false" Half="true" Stack="10" Id="@preset[3]" />
                    <ActiveCard @key="preset[4]" Enabled="false" Half="true" Stack="10" Id="@preset[4]" />
                }

                <ActiveCard Enabled="false" Half="true" Stack="60" Id="Copper" />
                <ActiveCard Enabled="false" Half="true" Stack="40" Id="Silver" />
                <ActiveCard Enabled="false" Half="true" Stack="30" Id="Gold" />

                @if (Model.KingdomPreset == null)
                {
                    <SpecialCard Name="card-back" Half="true" Stack="3" />
                    <SpecialCard Name="card-back" Half="true" Stack="3" />
                    <SpecialCard Name="card-back" Half="true" Stack="3" />
                    <SpecialCard Name="card-back" Half="true" Stack="3" />
                    <SpecialCard Name="card-back" Half="true" Stack="3" />
                }
                else
                {
                    var preset = All.Presets.BySet[Model.KingdomSet][Model.KingdomPreset];
                    <ActiveCard @key="preset[5]" Enabled="false" Half="true" Stack="10" Id="@preset[5]" />
                    <ActiveCard @key="preset[6]" Enabled="false" Half="true" Stack="10" Id="@preset[6]" />
                    <ActiveCard @key="preset[7]" Enabled="false" Half="true" Stack="10" Id="@preset[7]" />
                    <ActiveCard @key="preset[8]" Enabled="false" Half="true" Stack="10" Id="@preset[8]" />
                    <ActiveCard @key="preset[9]" Enabled="false" Half="true" Stack="10" Id="@preset[9]" />
                }
            }
        </div>

        <div style="grid-area: actions">
            @if (!Model.IsStarted)
            {   
                <ConfigView />
            }
            else
            {
                <BoardView />
            }
        </div>

        <div style="grid-area: deck">
            @if (Model.IsStarted && Model.Decks[PlayerOrSpectatee].Count == 0)
            {
                <SpecialCard Name="blank" Stack="1" />
            }
            else
            {                
                <SpecialCard Name="card-back" Stack="@(!Model.IsStarted ? 10 : Model.Decks[PlayerOrSpectatee].Count)" />
            }            
        </div>

        <div style="grid-area: hand; overflow-x: auto;">
            <GappedRow>
                @if (Model.IsStarted)
                {
                    foreach (var id in Model.Hands[PlayerOrSpectatee])
                    {
                        var card = All.Cards.ByName(@id);
                        var isEnabled = IsActivePlayer &&
                            !Model.IsFinished &&
                            Model.ExecutingCards == 0 &&
                            (card.Types.Contains(CardType.Treasure) ||
                             (card.Types.Contains(CardType.Action) && !Model.BuyPhase));
                        <ActiveCard Model="@card" 
                                    Enabled="@isEnabled" 
                                    Action="@(() => Dispatch(new PlayCardCommand { Id = @id }))"/>
                    }
                }
                else if (Model.Players.Contains(Session.Username)) // the hand you might someday have
                {
                    <SpecialCard Name="card-back" />
                    <SpecialCard Name="card-back" />
                    <SpecialCard Name="card-back" />
                    <SpecialCard Name="card-back" />
                    <SpecialCard Name="card-back" />
                }
            </GappedRow>
        </div>
            
        <div style="grid-area: discard">
            @if (Model.IsStarted)
            {
                var discard = Model.Discards[PlayerOrSpectatee];
                if (discard.Any())
                {
                    <ActiveCard @key="discard.First()" Id="@discard.First()" Stack="@discard.Count" OverrideColour="special" />
                }
                else
                {
                    <SpecialCard Name="blank" />
                }
            }
            else
            {
                <SpecialCard Name="blank" />
            }
        </div>
    </div>

    <GridSeparator Area="right-bar"/>

    <div style="grid-area: status" class="game-view__status">
        @if (Model.Players.Any())
        {
            <span>
                @(Model.IsStarted ? "Game in progress." : "Waiting to start.") Current players:
                @for (var i = 0; i < Model.Players.Length; i++)
                {                    
                    if (i < Model.Players.Length - 1)
                    {
                        <PlayerLink @key="@Model.Players[i]" Name="@Model.Players[i]" Suffix=", " />
                    }
                    else
                    {
                        <PlayerLink @key="@Model.Players[i]" Name="@Model.Players[i]" Suffix="." />
                    }
                }
            </span>
        }
        else
        {
            <span>@(Model.IsStarted ? "Game in progress." : "Waiting to start.") No players.</span>
        }
    </div>

    <ChatView />
</div>