@inject IUserSession Session
@code {
    [CascadingParameter(Name = "Current")] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
}

<div class="game-view">
    <div style="grid-area: nav">
        <ActiveLink Href="/">&lt; games</ActiveLink> 
        @if (Model.Players.Contains(Session.Username))
        {
            <text>Playing as <PlayerLink Name="@Session.Username" Suffix="." /></text>
        }
        else
        {
            <text>Spectating as <PlayerLink Name="@Session.Username" Suffix="." /></text>
        }
    </div>

    <div style="grid-area: event-log">
        <VerticalLog>
            @foreach (var e in Model.EventLog)
            {
                <p>
                    <RichText @key="e.GetHashCode()" Model="@e"/>
                </p>
            }
        </VerticalLog>
    </div>

    <GridSeparator Area="left-bar"/>

    <div style="grid-area: board" class="game-view__board">
        <KingdomView />

        <div>
            @if (!Model.IsStarted)
            {   
                <ConfigView Set="@Model.KingdomSet" Preset="@Model.KingdomPreset" />
            }
            else
            {
                <BoardView />
            }
        </div>

        <DominionView />
    </div>

    <GridSeparator Area="right-bar"/>

    <div style="grid-area: status" class="game-view__status">
        @if (Model.Players.Any())
        {
            <span>
                @(Model.IsStarted ? (Model.IsFinished ? "Game finished." : "Game in progress.") : "Waiting to start.") Players:
                @for (var i = 0; i < Model.Players.Length; i++)
                {                    
                    var score = All.Score.Calculate(Model, Model.Players[i]).Total;                    
                    if (i < Model.Players.Length - 1)
                    {
                        var text = $"<sym prefix='({score}' suffix='),'>vp</sym>";
                        <PlayerLink @key="@Model.Players[i]" Name="@Model.Players[i]" />
                        <RichText @key="Model.Players[i]+score" Model="@text" />
                    }
                    else
                    {
                        var text = $"<sym prefix='({score}' suffix=').'>vp</sym>";
                        <PlayerLink @key="@Model.Players[i]" Name="@Model.Players[i]" />
                        <RichText @key="Model.Players[i]+score" Model="@text" />
                    }
                }
            </span>
        }
        else
        {
            <span>@(Model.IsStarted ? "Game in progress." : "Waiting to start.") No players.</span>
        }
    </div>

    <ChatView />
</div>