@inject IUserSession Session
@code {
    [CascadingParameter(Name = "Current")] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
}

<div class="kingdom-view">
    @if (Model.IsStarted)
    {
        <SupplyView Id="Estate" />
        <SupplyView Id="Duchy" />
        <SupplyView Id="Province" />
        <SupplyView Id="Copper" />
        <SupplyView Id="Silver" />
        <SupplyView Id="Gold" />
        <SupplyView Id="Curse" />

        @for (var i = 0; i < 10; i++)
        {
            <SupplyView Row="2" Id="@Model.KingdomCards[i]" />
        }
    }
    else
    {
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Estate")" Id="Estate" />
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Duchy")" Id="Duchy" />
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Province")" Id="Province" />
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Copper")" Id="Copper" />
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Silver")" Id="Silver" />
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Gold")" Id="Gold" />
        <ActiveCard Enabled="false" Half="true" Stack="@Model.GetInitialSupply("Curse")" Id="Curse" />

        @for (var i = 0; i < 10; i++)
        {
            <div class="kingdom-view__row2">
                @if (Model.KingdomCards == null)
                {
                    <SpecialCard Name="randomizer" Colour="randomizer" Half="true" Stack="10" />
                }
                else
                {
                    <ActiveCard @key="Model.KingdomCards[i]" Id="@Model.KingdomCards[i]" Stack="@Model.GetInitialSupply(Model.KingdomCards[i])" Enabled="false" Half="true" />
                }                
            </div>
        }
    }

    <div class="kingdom-view__mat0">
        <SpecialCard Name="trash" Stack="@(!Model.IsStarted ? 1 : Model.Trash.Count + 1)" Half="true" />
    </div>
</div>
