@inject IUserSession Session
@inject IUserEndpoint UserEndpoint
@code {
    [CascadingParameter] GameModel Game { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public string Prefix { get; set; }
    [Parameter] public string Suffix { get; set; }

    protected override void OnParametersSet()
    {
        if (Text == null) 
        {
            Text = Name;
        }
    }
}

<Subscribed Endpoint="@UserEndpoint">
    @Prefix<span class="player-link 
    @(Name.Equals(Session.Username) ? "player-link--you" : "")
    @(!context.Contains(Name) ? "player-link--disconnected" : "")
    @(Game != null && Game.ActivePlayer == Name ? "player-link--active" : "")
    ">@Text</span>@Suffix
</Subscribed>

