@inherits ChoiceBase<List<string>, List<string>>
@code {
    private void Increment(int i)
    {
        var e = Model[i];
        Model.RemoveAt(i);
        Model.Insert(i+1, e);
        StateHasChanged();
    }

    private void Decrement(int i)
    {
        var e = Model[i];
        Model.RemoveAt(i);
        Model.Insert(i-1, e);
        StateHasChanged();
    }

    private void Submit()
    {
        EnterChoice(Model);
    }
}

<p @key="Input" class="active-choice__order">
    @for (var i = 0; i < Model.Count; i++)
    {                
        var ix = i;
        <div class="active-choice__order-option">
            <ActiveButton Action="@(() => Decrement(ix))" Label="<sym>left</sym>" Enabled="@(Enabled && ix > 0)" /> 
            <ActiveButton Action="@(() => Increment(ix))" Label="<sym>right</sym>" Enabled="@(Enabled && ix < Model.Count - 1)" />
            <ActiveCard @key="Model[ix]" Id="@Model[ix]" Enabled="false" Size="Size.Half" />
        </div>
    }
</p>

<div>
    <ActiveButton Label="Reorder" Enabled="@Enabled" Action="Submit" />
</div>