@inject IJSRuntime JS
@code {
    [CascadingParameter(Name = "Current")] public GameModel Game { get; set; }
    [Parameter] public string Id { get; set; }
    [Parameter] public bool Enabled { get; set; }
    [Parameter] public Action Action { get; set; }
    [Parameter] public ICard Model { get; set; }
    [Parameter] public bool Half { get; set; }
    [Parameter] public bool Large { get; set; }
    [Parameter] public int Stack { get; set; }
    [Parameter] public string OverrideColour { get; set; }
    [Parameter] public bool KeepVisible { get; set; }
    private int cost;
    private CardSet? setIcon;
    ElementReference contentElement;

    protected override void OnParametersSet()
    {
        if (Model == null)
        {
            Model = All.Cards.ByName(Id);
        }
        else 
        {
            Id = Model.Name;
        }

        cost = Model.GetCost(Game);
        setIcon = All.Cards.SetIcon(Id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Large && KeepVisible)
        {
            await JS.InvokeVoidAsync("ActiveCard.scrollIntoView", contentElement);
        }
    }

    private void OnClick()
    {
        if (Enabled)
        {
            Action();
        }
    }
}

@if (Large)
{
    <div class="active-card @(Enabled ? "active-card--enabled" : "")" @onclick="@OnClick" @ref="contentElement">
        <Magnify>        
            <KingdomCard Name="@Id" Types="@Model.Types" OverrideColour="@OverrideColour" Art="@Model.Art" Cost="@cost" Text="@Model.Text" SetIcon="@setIcon" Half="@Half" Stack="@Stack" />
        </Magnify>
    </div>
}
else
{
    <WithTooltip>
        <Content>
            <div class="active-card @(Enabled ? "active-card--enabled" : "")" @onclick="@OnClick">
                <KingdomCard Name="@Id" Types="@Model.Types" OverrideColour="@OverrideColour" Art="@Model.Art" Cost="@cost" Text="@Model.Text" SetIcon="@setIcon" Half="@Half" Stack="@Stack" />
            </div>
        </Content>
        <Tooltip>
            <Magnify>
                <StackHeader Size="@Stack">                
                    <KingdomCard Name="@Id" Types="@Model.Types" OverrideColour="@OverrideColour" Art="@Model.Art" Cost="@cost" Text="@Model.Text" SetIcon="@setIcon" Half="false" />
                </StackHeader>
            </Magnify>
        </Tooltip>
    </WithTooltip>    
}