@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public Cards.CardModel Model { get; set; }
    [Parameter] public bool Half { get; set; }
    [Parameter] public bool Large { get; set; }
    [Parameter] public bool Stack { get; set; }
    [Parameter] public bool Enabled { get; set; }
    private string subType;

    protected override void OnParametersSet()
    {
        if (Model == null)
        {
            Model = Cards.All.ByName[Id];
        }
        else 
        {
            Id = Model.GetType().Name;
        }

        if (Model is Cards.KingdomCardModel kingdomCard)
        {
            subType = kingdomCard.SubType;
        }
    }
}

@if (Large)
{
    <Magnify Center>
        <div class="active-card @(Enabled ? "active-card--enabled" : "")">
            <CardView Name="@Id" Type="@Model.Type" SubType="@subType" Art="@Model.Art" Text="@Model.Text" Half="@Half" Stack="@Stack" />
        </div>
    </Magnify>
}
else
{
    <WithTooltip>
        <Content>
            <div class="active-card @(Enabled ? "active-card--enabled" : "")">
                <CardView Name="@Id" Type="@Model.Type" SubType="@subType" Art="@Model.Art" Text="@Model.Text" Half="@Half" Stack="@Stack" />
            </div>
        </Content>
        <Tooltip>
            <Magnify>
                <CardView Name="@Id" Type="@Model.Type" SubType="@subType" Art="@Model.Art" Text="@Model.Text" Half="false" />
            </Magnify>
        </Tooltip>
    </WithTooltip>    
}