@inject IUserSession Session
@code {
    [Parameter] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
}

<div class="game-view">
    <div style="grid-area: event-log" class="game-view__events">
        <VerticalLog>
            <p class="game-view__event">Someone did something.</p>
            <p class="game-view__event">Someone did something else.</p>
            <p class="game-view__event">An action was performed.</p>
        </VerticalLog>
    </div>

    <GridSeparator Area="left-bar"/>

    <div style="grid-area: board" class="game-view__board">
        <div class="game-view__kingdom">
            <Card Name="Estate" Type="Victory" Half="true" Art="estate-2x" />
            <Card Name="Duchy" Type="Victory" Half="true" Art="duchy-2x" />
            <Card Name="Province" Type="Victory" Half="true" Art="province-2x" />
            <Card Name="Cellar" Type="Action" Half="true" Art="dom-cellar" />
            <Card Name="Market" Type="Action" Half="true" Art="dom-market" />
            <Card Name="Mine" Type="Action" Half="true" Art="dom-mine" />
            <Card Name="Remodel" Type="Action" Half="true" Art="dom-remodel" />
            <Card Name="Moat" Type="Action - Reaction" Half="true" Art="dom-moat" />

            <Card Name="Copper" Type="Treasure" Half="true" Art="copper-2x" />
            <Card Name="Silver" Type="Treasure" Half="true" Art="silver-2x" />
            <Card Name="Gold" Type="Treasure" Half="true" Art="gold-2x" />
            <Card Name="Smithy" Type="Action" Half="true" Art="dom-smithy" />
            <Card Name="Village" Type="Action" Half="true" Art="dom-village" />
            <Card Name="Woodcutter" Type="Action" Half="true" Art="dom-woodcutter" />
            <Card Name="Workshop" Type="Action" Half="true" Art="dom-workshop" />
            <Card Name="Militia" Type="Action - Attack" Half="true" Art="dom-militia" />
        </div>

        <div class="game-view__actions">
            <Card Name="Village" Type="Action" Art="dom-village" Text=@("+1 Card\r\n+2 Actions") />
        </div>

        <div class="game-view__hand">
            <Card Name="Copper" Type="Treasure" Art="copper-2x" Text="@null" />
            <Card Name="Copper" Type="Treasure" Art="copper-2x" Text="@null" />
            <Card Name="Copper" Type="Treasure" Art="copper-2x" Text="@null" />
            <Card Name="Estate" Type="Victory" Art="estate-2x" Text="@null" />
            <Card Name="Estate" Type="Victory" Art="estate-2x" Text="@null" />
        </div>
    </div>

    <GridSeparator Area="right-bar"/>

    <div style="grid-area: status" class="game-view__status">
        @if (Model.Players.Any())
        {
            <span>Current players: @string.Join(", ", Model.Players).</span>
        }
        else
        {
            <span>No players.</span>
        }

        @if (!Model.Players.Contains(Session.Username))
        {
            <button @onclick="@(() => Dispatch(new JoinGameCommand()))">Join game</button>
        }
        else
        {
            <button @onclick="@(() => Dispatch(new LeaveGameCommand()))">Leave game</button>
        }
    </div>

    <ChatView Model="@Model.ChatLog" />
</div>