@inject IUserSession Session
@code {
    [Parameter] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
    bool IsActivePlayer => Session.Username.Equals(Model.ActivePlayer);
}

<div class="game-view">
    <div style="grid-area: event-log" class="game-view__events">
        <VerticalLog>
            <RichText Model="@(new TextModel.Paras { Children = Model.EventLog.ToArray() })"/>
        </VerticalLog>
    </div>

    <GridSeparator Area="left-bar"/>

    <div style="grid-area: board" class="game-view__board">
        <div style="grid-area: kingdom" class="game-view__kingdom">
            <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="Estate" />
            <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="Duchy" />
            <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="Province" />

            @if (Model.IsStarted)
            {
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[0]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[1]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[2]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[3]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[4]" />
            }
            else
            {
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
            }

            <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="Copper" />
            <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="Silver" />
            <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="Gold" />

            @if (Model.IsStarted)
            {
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[5]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[6]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[7]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[8]" />
                <ActiveCard Enabled="@IsActivePlayer" Half="true" Id="@Model.KingdomCards[9]" />
            }
            else
            {
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
                <SpecialCard Name="card-back" Half="true" />
            }
        </div>

        <div style="grid-area: actions" class="game-view__actions">
            @if (Model.IsStarted)
            {
                <ActiveCard Large="true" Id="Village" />
                <ActiveCard Large="true" Id="Market" />
            }
            else
            {                
                @if (!Model.Players.Contains(Session.Username))
                {
                    <ActiveButton Label="Join game" Action="@(() => Dispatch(new JoinGameCommand()))" />
                }
                else
                {
                    <ActiveButton Label="Leave game" Action="@(() => Dispatch(new LeaveGameCommand()))" />
                }
            }
        </div>

        <div style="grid-area: hand" class="game-view__hand">
            @if (Model.IsStarted)
            {
                <ActiveCard Enabled="@IsActivePlayer" Id="Copper" />
                <ActiveCard Enabled="@IsActivePlayer" Id="Copper" />
                <ActiveCard Enabled="@IsActivePlayer" Id="Copper" />
                <ActiveCard Enabled="@IsActivePlayer" Id="Estate" />
                <ActiveCard Enabled="@IsActivePlayer" Id="Estate" />
            }
            else
            {
                <SpecialCard Name="card-back" />
                <SpecialCard Name="card-back" />
                <SpecialCard Name="card-back" />
                <SpecialCard Name="card-back" />
                <SpecialCard Name="card-back" />
            }
        </div>

        <div style="grid-area: discard">
            <SpecialCard Name="trash" />
        </div>

        <div style="grid-area: deck">
            <SpecialCard Name="card-back" />
        </div>
    </div>

    <GridSeparator Area="right-bar"/>

    <div style="grid-area: status" class="game-view__status">
        @if (Model.Players.Any())
        {
            <span>Current players: @string.Join(", ", Model.Players).</span>
        }
        else
        {
            <span>No players.</span>
        }
    </div>

    <ChatView Model="@Model.ChatLog" />
</div>