@inject IUserSession Session
@code {
    [Parameter] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
}

<p>
    Welcome, @Session.Username.
    @if (!Model.Players.Contains(Session.Username))
    {
        <button @onclick="@(() => Dispatch(new JoinGameCommand()))">Join game</button>
    }
    else
    {
        <button @onclick="@(() => Dispatch(new LeaveGameCommand()))">Leave game</button>
    }
</p>

@if (Model.Players.Any())
{
    <p>Current players: @string.Join(", ", Model.Players).</p>
}
else
{
    <p>No players.</p>
}

<ChatView Model="@Model.ChatLog" />