@page "/"
@attribute [Authorize]
@inject NavigationManager Navigation
@inject IGameEndpoint GameEndpoint
@code {
    private string newGameName;

    void OnSubmit()
    {
        Navigation.NavigateTo($"/game/{newGameName}");
    }
}

<h3>New game</h3>
<form @onsubmit="OnSubmit">    
    <input type="text" @bind="newGameName">
    <ActiveButton Label="Create" />
</form>

<h3>Current games</h3>
<Subscribed Endpoint="@GameEndpoint">
    @foreach (var game in context)
    {    
        <p @key="game.Name">
            <a href="/game/@game.Name">@game.Name</a> - @(game.Status).<br>
            @for (var i = 0; i < game.Players.Length; i++)
            {                
                var player = game.Players[i];
                if (i < game.Players.Length - 1)
                {
                    <text><PlayerLink @key="@player" Name="@player" />, </text>
                }
                else
                {
                    <text><PlayerLink @key="@player" Name="@player" /></text>
                }
            }
        </p>
    }
</Subscribed>