@page "/"
@attribute [Authorize]
@inject NavigationManager Navigation
@inject IGameEndpoint Endpoint
@code {
    private GameSummary[] games;
    private string newGameName;
    private string newGameError;

    protected override void OnInitialized()
    {
        games = Endpoint.ListGames();
    }

    void OnSubmit()
    {
        Navigation.NavigateTo($"/game/{newGameName}");
    }
}

<h3>New game</h3>
<form @onsubmit="OnSubmit">    
    <input type="text" @bind="newGameName">
    <ActiveButton Label="Create" />
    @if (newGameError != null)
    {
        <br><span style="color: red">@newGameError</span>
    }
</form>

<h3>Current games</h3>
@foreach (var game in games)
{    
    <p>
        <a href="/game/@game.Name">@game.Name</a> - @(game.Status).<br>
        @for (var i = 0; i < game.Players.Length; i++)
        {
            
            if (i < game.Players.Length - 1)
            {
                <text><PlayerLink Name="@game.Players[i]" />, </text>
            }
            else
            {
                <text><PlayerLink Name="@game.Players[i]" /></text>
            }
        }
    </p>
}