@code {
    [CascadingParameter(Name = "Current")] public GameModel Game { get; set; }
    [Parameter] public string Id { get; set; }
    [Parameter] public bool Enabled { get; set; }
    [Parameter] public Action Action { get; set; }
    [Parameter] public ICard Model { get; set; }
    [Parameter] public Size Size { get; set; }
    [Parameter] public bool Large { get; set; }
    [Parameter] public int Stack { get; set; }
    [Parameter] public string OverrideColour { get; set; }
    private Cost cost;
    private Cost? value;
    private CardSet? set;
    ElementReference contentElement;

    protected override void OnParametersSet()
    {
        if (Model == null)
        {
            Model = All.Cards.ByName(Id);
        }
        else 
        {
            Id = Model.Name;
        }

        cost = Model.GetCost(Game);
        set = All.Cards.GetSet(Id);
        value = (Model as ITreasureCard)?.GetModifiedValue(Game);
    }

    private void OnClick()
    {
        if (Enabled)
        {
            Action();
        }
    }
}

@if (Large)
{
    <div class="active-card @(Enabled ? "active-card--enabled" : "")" @onclick="@OnClick" @ref="contentElement">
        <Magnify>        
            <KingdomCard Name="@Id" Types="@Model.Types" OverrideColour="@OverrideColour" Art="@Model.Art" Cost="@cost" Value="@value" Text="@Model.Text" Set="@set" Size="@Size" Stack="@Stack" />
        </Magnify>
    </div>
}
else
{
    <WithTooltip>
        <Content>
            <div class="active-card @(Enabled ? "active-card--enabled" : "")" @onclick="@OnClick">
                <KingdomCard Name="@Id" Types="@Model.Types" OverrideColour="@OverrideColour" Art="@Model.Art" Cost="@cost" Value="@value" Text="@Model.Text" Set="@set" Size="@Size" Stack="@Stack" />
            </div>
        </Content>
        <Tooltip>
            <Magnify>
                <StackHeader Count="@Stack">                
                    <KingdomCard Name="@Id" Types="@Model.Types" OverrideColour="@OverrideColour" Art="@Model.Art" Cost="@cost" Value="@value" Text="@Model.Text" Set="@set" />
                </StackHeader>
            </Magnify>
        </Tooltip>
    </WithTooltip>    
}